aclocal.m4
autom4te.cache
autoregen.sh
config.log
config.status
configure
libtool

gst-plugin-*.tar.*

INSTALL
Makefile
Makefile.in
config.*
depcomp
install*
ltmain*
m4
missing
myfile.data
stamp-*

src/.deps
src/.libs
src/*.la
src/*.lo
